.forest_section {
  background: url("../../../img/bgr_forest.png") no-repeat 35% center;
  background-size: cover;
  /* background-position: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 668px;
}

.forest_section_block {
  justify-items: center;
  font-family: "Montserrat";
  font-weight: 600;
  color: #fff;
}
.forest_section_block h2 {
  font-size: 24px;
  text-transform: uppercase;
  line-height: 36px;
  text-align: center;
  letter-spacing: 8px;
}
.forest_section_block button {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 2px;
  letter-spacing: 2px;
  padding: 25px 30px;
  cursor: pointer;
  border: none;
  color: #fff;
  text-align: center;
  background-color: #181c29;
  border-radius: 20px;
  transition: 0.5s ease;
  font-family: "Montserrat";
}
.forest_section_block button:hover {
  background-color: #fff;
  color: #181c29;
}

@media (hover: none) and (pointer: coarse) {
  .forest_section_block button:hover {
    background-color: inherit;
    color: inherit;
  }
}

.forest_section_block p {
  padding-top: 15px;
  font-family: "Allura";
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 4px;
}
.footer_section {
  background-color: #fff;
}

.timer {
  padding: 0 25px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.timer_block {
  text-align: center;
  margin: 15px 0px;
}
.timer_span {
  display: inline-block;
  width: 1px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0 10px;
}
.timer_block h4 {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 3px;
  font-weight: 600;
  font-family: "Montserrat";
  padding: 0;
  margin: 0;
}

.timer_block p {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .forest_section {
    background-position: 45% center;
  }
}
@media (max-width: 380px) {
  .forest_section_block h2 {
    /* text-align: start; */
    font-size: 20px;
    letter-spacing: 5px;
    padding: 0 9px;
  }
  .indented {
    display: inline-block;
    margin-left: 70px;
    text-align: start;
  }
}
