.main {
  background: url("../../../img/home_ball_img.png") no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 524px;
}
.main_wrap {
  justify-items: center;
  color: #fff;
  padding-top: 45px;
}
.main_wrap p {
  font-size: 24px;
  font-weight: 400;
  font-family: "Allura";
  letter-spacing: 2px;
  margin: 10px 0;
}
.main_wrap h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  font-family: "Montserrat";
  letter-spacing: 10px;
}

.main_wrap button {
  font-family: "Montserrat";
  background-color: #181c29;
  border-radius: 20px;
  color: #fff;
  border: none;
  text-transform: uppercase;
  padding: 20px 32px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s ease;
}
.main_wrap button:hover {
  background-color: #fff;
  color: #181c29;
}
@media (hover: none) and (pointer: coarse) {
  .main_wrap button:hover {
    color: #fff;
    background-color: #181c29;
  }
}

@media (max-width: 768px) {
  .main_wrap {
    padding-top: 30px;
  }
  .main_wrap h1 {
    margin: 10px;
  }
}
@media (max-width: 420px) {
  .main_wrap h1 {
    font-size: 28px;
    letter-spacing: 5px;
  }
}
