.footer {
  display: grid;
  padding: 0 60px;
  grid-template-columns: repeat(3, calc(32% + 4px));
  gap: 20px;
  padding-top: 60px;
}

.footer_block {
  padding: 20px 0;
  text-align: center;
  border-radius: 20px;
  background-color: #ecf3f8;
  cursor: pointer;
  color: #181c29;
  text-decoration: none;
  overflow-wrap: break-word;
}

.footer_block:hover {
  color: #ff4646;
}

/* .footer_block:visited {
  background-color: #06a44f1a;
} */
.footer_contacts {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 10px;
}
.footer_text {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.networks {
  margin: 20px 0;
  text-align: center;
}

.networks_imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.networks_link {
  cursor: pointer;
  padding: 8px 8px 4px 8px;
}
.networks_img {
  stroke: #181c29;
}

.networks_img:hover {
  filter: brightness(0) saturate(100%) invert(39%) sepia(100%) saturate(900%)
    hue-rotate(325deg) brightness(90%);
  transform: scale(1.05);
}
.networks_text {
  text-align: center;
}
.networks_text p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 15px 0;
}
.networks_text h4 a {
  font-family: "Allura";
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 5px;
  cursor: pointer;
  margin: 15px 0;
  color: #181c29;
  text-decoration: none;
  padding-bottom: 50px;
}
.networks_text h4 a:hover {
  color: #ff4646;
}

@media (hover: none) and (pointer: coarse) {
  .footer_block:hover,
  .networks_img:hover,
  .networks_text h4 a:hover {
    color: inherit;
    background-color: inherit;
  }
}

@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
  }
  .footer_contacts {
    padding: 0;
    margin: 5px 0;
  }
}
@media (max-width: 380px) {
  .networks_text h4 a {
    letter-spacing: 2px;
  }
}
