.slider_section {
  padding: 20px 0;
}
.slider_block_title {
  text-align: center;
  color: #fff;
}
.slider_block_title p {
  font-size: 24px;
  line-height: 4px;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: "Allura";
}
.slider_block_title h2 {
  padding-top: 15px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 5px;
  line-height: 6px;
  text-transform: uppercase;
}

.slider {
  padding-top: 20px;
  overflow: hidden;
  width: 100%;
}
.slider_list {
  margin: 0px 40px;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider_item {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-transform: uppercase;
}
.slider_item img {
  width: 200px;
  height: 200px;
  margin: 0 20px;
  border-radius: 20px;
}
.slider_item p {
  font-size: 80px;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 9px;
  text-align: center;
  color: #fff;
}
.btns {
  display: flex;
  justify-content: flex-end;
  margin: 40px 80px;
}
.btn {
  width: 56px;
  height: 56px;
  border-radius: 20px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  margin: 0 10px;
}
.prev {
  transform: rotate(180deg);
}
.btn:hover {
  background-color: #fff;
  color: #ff4646;
  transition: #fff 0.5s ease;
}

@media (hover: none) and (pointer: coarse) {
  .btn:hover {
    color: inherit;
    background-color: inherit;
    transition: none;
  }
}

@media (max-width: 768px) {
  .slider_section {
    padding: 35px 0;
  }
  .slider_list {
    padding: 0px;
    margin: 0px;
  }
  .btns {
    margin: 25px 10px;
  }
}
